:root {
  /* Colors */
  --color-primary: black;
  /* --color-primary: var(--color-dark-blue); */
  /* Deep Blue from the site */
  --color-secondary: #333333;
  /* Dark Grey for text */
  --color-accent: #f0f0f0;
  /* Light Grey for backgrounds */
  --color-white: #ffffff;
  --color-text-light: #666666;
  --color-dark-blue: #004d99;
  --color-dark-red: #D32D22;
  --color-gray: #727172;

  /* Fonts */
  --font-main: 'Nanum Gothic', sans-serif;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Layout */
  --max-width: 1100px;
  --container-padding: 0px;
}

@media (max-width: 768px) {
  :root {
    --container-padding: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: var(--color-secondary);
  background-color: var(--color-white);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.skeleton {
  background: #f1f5f9;
  display: inline-block;
  position: relative;
  border-radius: 4px;
}

ul {
  list-style: none;
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}